#logo {
	max-width: 72%;
	max-height: 72vh;
}

.flex-container {
	height: 72vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-row {
	width: 100%;
}

.center-item {
	text-align: center;
}

#debug {
	position: absolute;
	top: 0;
	max-width: 100vw;
	background-color: white;
	z-index: 999;
	opacity: 0.8;
}

#debug td {
	border: 1px solid silver;
	vertical-align: top;
}

#debug .name {
	color: black;
}

#debug .type {
	color: blue;
}

#debug .value {
	color: red;
}
